.empty{
  border: 1px solid red;
}

.actived{
  color: #66b1ff;
}

.line{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 30px;
  height: 1px;
  background: #000000;
}
